*{
    margin: 0;
    padding: 0;
}

.item-lista{
    display: flex;
    flex-direction: column;
}
ul{
display: flex;
gap: 50px;
/* margin: auto;
width: fit-content; */
}
section{
    display: flex;
    justify-content: center;
}